 /* body{
    font-family: "Open Sans", Helvetica Neue, Sans-serif;
 } */
 .bg-image {

     background: url('../images/blog2.jpg') no-repeat;
     height: 400px;
     background-size: cover;
 }

 .second-header {
     text-align: center;
     max-width: 712px;
     margin: 0px auto;

 }
 h1 {
     color: black;
     font-size: 2.77em;
     font-weight: 500;
     padding-top: 30%;
     margin-top: 10px;
     margin-bottom: 20px;

 }

 .colored-line {
     background-color: #17a2b8;
     margin: auto
 }

 .colored-line {
     margin-top: 15px;
     display: block;
     width: 80px;
     height: 2px;
 }

 /* body start */

 article,
 aside {
     display: block;

 }
 
 .post-list article {
     float: left;
     width: 100%;
     margin-bottom: 40px;
     padding: 10px;
     border: 1px solid #eaeaea;
     border-bottom: 4px solid #eaeaea;
     border-radius: 3px;
 }

 .post-img-wrap .post-date {
     position: absolute;
     top: 11px;
     left: 15;
     min-width: 90px;
     min-height: 90px;
     padding: 16px 20px;
     background: rgba(55, 151, 221, 0.8);
     text-align: center;
 }

 .post-date .post-date-day {
     display: block;
     color: #fff;
     /* on image show*/
     font-size: 31px;
     font-weight: 700;
     line-height: 34px;
 }

 .post-date .post-date-month {
     display: block;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     line-height: 24px;
     text-transform: uppercase;
 }

 picture img {
     max-width: 100%;
     height: auto;
     border: 0;
 }

 #primary {
     margin: 50px 0;
     padding-right: 9px;
 }

 .col-md-8 {
     float: left;
 }

 /* right side search box */
 #sidebar-secondary {
     margin: 50px 0;
     padding-left: 30px;
     border-left: 1px solid #e7e7e7;
 }

 #sidebar-secondary .colored-line-left {
     background: rgb(55, 151, 221) none repeat scroll 0 0 !important;
     float: left;
 }

 .col-md-4 {
     width: 33.33333333%;
     float: left;
 }

 #sidebar-secondary .widget {
     margin-bottom: 50px;
 }

 #sidebar-secondary .widget-title {
     margin-bottom: 5px;
     color: #4f4f4f;
     font-size: 18px;
     font-weight: 700;
     text-transform: uppercase;
 }

 .widget-title-margin {
     margin-bottom: 15px;
 }

 input[type="search"] {
     padding: 5px;
     border: 1px solid #dedede;
     border-radius: 3px;
 }

 input[type="search"] {
     color: #000;
     box-sizing: border-box;

 }

 h2 {
     color: black;
 }

 /* search label css */
 label {
     padding-right: 5px;
     vertical-align: middle;
 }

 label {
     display: inline-block;
     max-width: 100%;
     margin-bottom: 5px;
     font-weight: bold;
 }

 .req {
     color: red;
     font-weight: bold;
 }

 input[type="submit"] {
     background: rgb(55, 151, 221) none repeat scroll 0 0 !important;
     border: medium none !important;
     font-size: 12px;
     font-weight: bold;
     line-height: 2.6;
     letter-spacing: 1.2px;
     text-transform: uppercase;
     border-radius: 3px;
 }

 .lptw_recent_posts_thumbnails_widget a.lptw-header-link {
     text-decoration: none;
     color: #333333;
     line-height: 1.5;
     padding-bottom: 5px;
     display: block;
 }

 #sidebar-secondary ul li {
     font-size: 16px;
     list-style: none
 }

 ul.lptw-recent-posts-thumbnails-widget {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 /*--image bootom header start */
 .list-post-entry-meta {
     position: relative;
     bottom: -1px;
     left: 0;
     width: 100%;
     padding: 14px;
     background: rgba(247, 247, 247, 1);
 }

 .post-author {
     position: relative;
     margin-right: 10px;
     padding-left: 16px;
     font-weight: 600;
 }

 .post-author i {
     position: absolute;
     top: 0;
     left: 0;
     color: #676767;
     font-size: 14px;
     line-height: 22px;
 }

 .fa {
     display: inline-block;
     font: normal normal normal 14px/1 FontAwesome;
     font-size:
 }

 a {
     color: #be5000;
 }

 .posted-in {
     position: relative;
     margin-right: 10px;
     padding-left: 18px;
     color: #676767;
     font-weight: 600;
 }

 .posted-in i {
     position: absolute;
     top: 0;
     left: 0;
     color: #676767;
     font-size: 14px;
     line-height: 22px;
 }

 .post-comments {
     position: relative;
     margin-right: 10px;
     padding-left: 19px;
     /*---image bottom header end */
     font-weight: 600;
     float: right;
 }

 .post-list h1.entry-title {
   padding-top: 1%;
     margin-bottom: 5px;

 }

 h1 {
     font-size: 26px;
     line-height: 40px;
     font-family: "Cabin", Helvetica Neue, Sans-serif;
     font-weight: 400;
 }

 .post-list h1.entry-title a {
     color: #000;
     font-size: 24px;
     line-height: 28px;
     text-transform: uppercase;
     text-decoration: none;
 }
 .post-list h1.entry-title:hover{
     color:  #f16c20;
 }
 .border-bottom-hover:hover {
    border-bottom-color: #f16c20;
}
@media screen and (max-width: 580px){
.list-post-entry-meta {
    float: left;
    position: relative;
    margin: 15px 0 0;
    padding: 0;
}
}
@media (max-width: 580px){
body {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
}

 .colored-line-left,
 .colored-line-right,
 .colored-line,
 .white-line,
 .grey-line {
     display: block;
     width: 80px;
     height: 2px;
 }

 .colored-line-left {
     background: #3797dd;
     float: left;

 }

 .entry-content p {
     color: #666;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px;
     margin: 10px 0 5px;
 }

 address {
     margin-top: 14px;
 }
 input[type="submit"] {
    border-radius: 5%;
 }
 .posts-navigation .nav-previous {
    font-weight: bold;
    text-align: left;
}


#sidebar-secondary ul {
    padding-left: 0;
}
ul.lptw-recent-posts-thumbnails-widget {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar-secondary ul li {
    font-size: 16px;
    list-style: none;
}
.lptw_recent_posts_thumbnails_widget a.lptw-header-link {
    text-decoration: none;
    /* color: #333333; */
    line-height: 1.5;
    padding-bottom: 5px;
    display: block;
}



