.bg-image {
    
    background: url('../images/bg2.jpg') no-repeat;
    height: 500px;
    width: 100%;
}
.second-header {
    text-align: center;
    max-width: 712px;
    margin: 0px auto;

}

h1 {
    color: black;
    font-size: 3.77em;
    font-weight: 700;
    padding-top: 30%;
}
body */
 .site-content .container {
    width: 95% !important;
}

.post-content {
    
     clear: both;
     margin-bottom: 2em;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);  

} 
 .site-content {
    margin-top: 45px;
}
.home .entry-header {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 50%;
} 
.
  .entry-header {
    text-align: center;
    letter-spacing: 2px;
    width: 50%;
    font-size: 18px;
} 
 .entry-meta {
    clear: both;
    color: #727272;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 2px;
}
.col-md-2 {
    width: 16.66666667%;
    
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} 
